<%- include("header.ejs") %>
<h1>About US</h1>
<img class="profile" src="public/images/consist.jpg" alt="consistent poster">
<p>
  At Consistify, we're dedicated to helping you transform your life through the power of consistency. Our mission is to provide a supportive platform where you can embark on a journey of self-improvement and create lasting, healthy habits effortlessly. With a wide array of customizable challenges, intuitive progress tracking, a motivating rewards system, and a community of like-minded individuals, we're here to guide you towards a more consistent and healthier you. Say farewell to inconsistency and embrace a brighter, more successful future with Consistify</p>
  <%- include("footer.ejs") %>