<%- include("header.ejs") %>


  <h1 class="centerHeader"><i>Consistify </i></h1>

  <p><h4>Welcome to Consistify!</h4>
  </p>
  <p>
    Discover a new approach to habit building that is as unique as you are. We offer a diverse range of challenges that you can customize to your goals and preferences.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 mr-3"><a href="/existinguser" style="color: white; text-decoration: none;">Existing User</a></button>
      <button type="button" class="btn btn-primary btn-lg px-4"><a href="/newuser" style="color: white; text-decoration: none;">New User</a></button>
    </div>
  <%- include("footer.ejs") %>