<%- include("header.ejs") %>
<div class="container mt-5" style="max-width: 400px;">
<h1>Enter Your details below:</h1>
<form action="/checkUser" method="post">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" required>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="submit" class="btn btn-primary btn-lg px-4 mr-3"><a href="/existinguser" style="color: white; text-decoration: none;">Existing User</a></button>
   </div>  
</form>
</div>
<%- include("footer.ejs") %>